{{#partial "title"}}
    Wildlife-Tracker
{{/partial }}
{{#partial "content"}}
    <div class ="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="page-header">
                    <h1 class="text-center pulse" style="color:black">Virtual zoo!! </h1>
                </div>
                <div class="card text-primary border-primary text-center" style="max-width: 90rem;" id="landingCard">
                    <div class="card-body">
                        <p class="intro">Welcome to virtual zoo. As a ranger there are options to add a sighting for either a common animal or<br> and endangered animal. In case the animal is not among the ones chosen, <br> please feel free to add one yourself </p>
                        <h4 class="card-title intro">Add new Sighting</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <p style="margin-top:40%"><a href="/new/sighting"><button type="submit" class="btn btn--pill floater"> common...</button></a></p>
                            </div>
                            <div class="col-md-6">
                                <p style="margin-top:40%">

                                    <a href="/new/endangered"> <button type="submit" class="btn btn--pill floater"> endangered...</button></a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>





{{/partial}}
{{>layout.hbs}}












