<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}WILDLIFE TRACKER{{/block}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-inverse text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand wiggle" href="/"><img src="" width="40px" height="40px" ></a>
        </div>
        <ul class="nav navbar-nav">
            <li  class="floater text-info intro" style="color: green;"><a href="/new/sighting">Common..</a></li>
            <li class="floater text-info intro" style="color: green;"><a href="/new/endangered" >Endangered..</a></li>

        </ul>

    </div>
</nav>

{{#block "content"}}
    <div class="page-header">
        <h1 class="text-center">Welcome to my zoo!! </h1>
    </div>

{{/block}}




{{#block "footer"}}
    </body>
    </html>
{{/block}}
